Repository anbrela/next-starter-i18n-tailwind-typescript-shadcn: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

.lintstagedrc.json:

{
    "*.js": "npm run lint",
    "*.{json,md}": "prettier --write"
  }

feat: test again
  package.json
  src/app/[locale]/page.tsx
Due: prettier --write

feat: again test
  src/app/[locale]/page.tsx
Due: none

feat: test again with husky initiated
  .husky/pre-commit
  package.json
  src/app/[locale]/page.tsx
Due: prettier --write

feat: is this working?
  .lintstagedrc.json
  src/app/[locale]/page.tsx
Due: prettier --write

feat: updated page
  package.json
  src/app/[locale]/page.tsx
Due: prettier --write

feat: refactor page
  package.json
  src/app/[locale]/page.tsx
Due: prettier --write

feat: test again
  .lintstagedrc.json
  src/app/[locale]/page.tsx
Due: prettier --write

feat: reset page andd added working husky
  .lintstagedrc.json
  package.json
  src/app/[locale]/page.tsx
Due: prettier --write

feat: add jest an changed the config files to config
  config/.lintstagedrc.json
  config/commitlint.config.js
  config/eslintrc.json
  config/jest.config.js
  config/locales/en.json
  config/locales/es.json
  config/postcss.config.mjs
  config/tailwind.config.ts
  config/test-setup.ts
  package-lock.json
  package.json
  src/app/[locale]/page.tsx
  test/example.test.tsx
Due: npm run lint, prettier --write

feat: update next international
  config/.eslintrc.json
  config/.lintstagedrc.json
  config/eslintrc.json
  config/jest.config.js
  config/locales/client.ts
  config/locales/en.ts
  config/locales/es.ts
  config/locales/server.ts
  config/test-setup.js
  config/test-setup.ts
  next-config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/i18n.ts
  src/middleware.ts
  tailwind.config.ts
  test/example.test.tsx
  tsconfig.json
Due: npm run lint, prettier --write

feat: fix server
  config/locales/server.ts
Due: none

feat: updated readme
  README.md
Due: prettier --write
